/*--------------------------------------------------------------
# Login Section
--------------------------------------------------------------*/

body {
    font-family: 'Poppins', sans-serif;
}

.log {
    text-decoration: none;
    color: #fff;
}

img.bground {
    width: 748px;
    height: 1287px;
}

img.bbq {
    width: 182px;
    height: 182px;
}

.column1 {
    width: 760px;
    height: 1287px;
    background-color: #EFC81A;
}

.column2 {
    /* border: 3px solid black; */
    padding-top: 410px;
    padding-left: 9rem;
    padding-right: 9rem;
}

.mama {
    /* color: #fff; */
    font-size: 18px;
    font-weight: 400;
    border: 3px solid black;
    /* font-family: 'Sevillana', cursive; */
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    color: #EFC81A;
    /* border: 3px solid black; */
}

.title p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #8692A6;
    font-weight: 400;
    padding-top: 20px;
}

.form-control {
    border: 1px solid #8692A6;
    border-radius: 6px;
    padding-left: 30px;
    width: 426px;
    height: 50px;
}

/* .email {
    border: 3px solid black;
    
}

.password {
    border: 3px solid black;
} */

.form-check-label {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.btn {
    width: 426px;
    height: 50px;
    background-color: #EFC81A;
    color: #fff;
}

.forgot {
    font-size: 12px;
    color: #999999;
    text-decoration: none;
    padding-left: 315px;
}

.acc {
    text-decoration: none;
    color: #999999;
    font-size: 12px;
    padding-left: 120px;
}

.sign {
    color: #EFC81A;
}


/*--------------------------------------------------------------
# Register Section
--------------------------------------------------------------*/

.wrapper1 {
    width: 760px;
    height: 1287px;
    background-color: #EFC81A;
}

.wrapper2 {
    /* border: 3px solid black; */
    padding-top: 310px;
    padding-left: 9rem;
    padding-right: 9rem;
}

/*--------------------------------------------------------------
# Navbar Section
--------------------------------------------------------------*/

.text-home {
    color: #2E266F;
    font-size: 14px;
    text-decoration: underline;
}

.text-add {
    color: #2E266F;
    font-size: 14px;
    text-decoration: underline;
}

.text-profile {
    color: #2E266F;
    font-size: 14px;
    text-decoration: underline;
}

.text {
    color: #2E266F;
    font-size: 14px;
}

/*--------------------------------------------------------------
# Detail Recipe Section
--------------------------------------------------------------*/

.recipe-title {
    color: #2E266F;
    margin-top: 40px;
    font-size: 42px;
    font-weight: 500;
}

.egg-recipe {
    width: 782px;
    height: 500px;
}

.ingredient {
    font-size: 22px;
}

.video {
    font-size: 22px;
}

.square {
    width: 200px;
    height: 59px;
}

#exampleFormControlTextarea1 {
    width: 910px;
    height: 250px;
}

.button {
    width: 286px;
    height: 44px;
    background-color: #EFC81A;
    color: #fff;
    margin-left: 100px;
}

/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/

.end {
    width: 1519px;
    height: 495px;
    background-color: #EFC81A;
}

.eat {
    font-size: 42px;
    color: #2E266F;
    margin-top: 150px;
}

.share {
    font-size: 14px;
    margin-bottom: 150px;
    color: #707070;
}

li {
    list-style: none;
    font-size: 11px;
    color: #707070;
}

.copyright {
    color: #000;
    font-size: 11px;
    margin-left: 100px;
}

/*--------------------------------------------------------------
# Add Recipe Section
--------------------------------------------------------------*/

.card-image {
    background-color: #F6F5F4;
}

.image {
    width: 1100px;
    height: 480px;
}

.add-image {
    width: 1000px;
    height: 400px;
    background-color: #F6F5F4;
    border: 1px solid #8692A6;
    border-radius: 6px;
}

.add-title {
    width: 1000px;
    height: 50px;
    background-color: #F6F5F4;
}

.add-ingredients {
    width: 1000px;
    height: 300px;
    background-color: #F6F5F4;
}

.add-video {
    border: none;
    width: 1000px;
    height: 50px;
    border: 1px solid #8692A6;
    border-radius: 6px;
}

.add-button {
    width: 286px;
    height: 44px;
    background-color: #EFC81A;
    color: #fff;
    margin-left: 165px;
}

.add-img {
    color: #666666;
    top: 150px;
    left: 495px;
}

.add-img-photo {
    color: #666666;
    top: 215px;
    left: 485px;
}

/*--------------------------------------------------------------
# Profile Section
--------------------------------------------------------------*/

.add-pp {
    width: 122px;
    height: 122px;
}

.profile-name {
    font-weight: 500;
}

.my-recipe {
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

.saved-recipe {
    font-size: 14px;
}

.liked-recipe {
    font-size: 14px;
}

.line {
    width: 1920px;
    height: 1px;
    background-color: #DFDFDF;
}

.chicken-bomb {
    width: 310px;
    height: 200px;
    margin-bottom: 50px;
}

.banana-pancake {
    width: 310px;
    height: 200px;
    margin-bottom: 35px;
}

.chicken-text {
    top: 150px;
    left: 35px;
    color: #fff;
    font-weight: 500;
}

.bananas-text {
    top: 150px;
    left: 365px;
    color: #fff;
    font-weight: 500;
}

/*--------------------------------------------------------------
# Detailed Video Section
--------------------------------------------------------------*/

.next {
    font-weight: 500;
}

.step-5 {
    width: 209px;
    height: 92px;
}

.beef1 {
    font-weight: 500;
    font-size: 16px;
}

.beef2 {
    font-weight: 500;
    font-size: 11.3px;
}

.hana1 {
    color: #AAAAAA;
    font-size: 11px;
    font-weight: 500;
}

.hana2 {
    color: #AAAAAA;
    font-size: 8px;
    font-weight: 500;
}

.beef-wrapper {
    margin-left: 30px;
}


/*--------------------------------------------------------------
# Landing Page Section
--------------------------------------------------------------*/

.hero-tagline {
    /* border: 2px solid black; */
    margin-top: 100px;
}

.image-tagline {
    width: 400px;
    height: 400px;
}

/* .cek1 {
    background-color: salmon;
}

.cek2 {
    background-color: violet;
} */

.input-search {
    top: 250px;
}

.inp-search {
    width: 400px;
    height: 50px;
    background-color: #EFEFEF;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    color: #B6B6B6;
    padding-left: 50px;
}

.glass {
    top: 262px;
    left: 25px;
}

.magnifying {
    width: 16px;
    height: 16px;
}

.rectangle-popular {
    width: 10px;
    height: 60px;
    background-color: #EFC81A;
}

.for {
    bottom: 10px;
    left: 70px;
}

.you {
    font-size: 18px;
    font-weight: 700;
    color: #3F3A3A;
    margin-bottom: 50px;
}

.you1 {
    font-size: 18px;
    font-weight: 700;
    color: #3F3A3A;
    margin-bottom: 10px;
}

.you2 {
    font-size: 18px;
    font-weight: 700;
    color: #3F3A3A;
    margin-bottom: 10px;
}

.all-wrapper {
    width: 1220px;
    height: 528px;
    /* border: 2px solid black; */
}

.bread-wrapper {
    margin-top: 50px;
}

.bread {
    width: 430px;
    height: 430px;
}

.bread-bor {
    width: 383px;
    height: 411px;
    border: 2px solid #EFC81A;
    border-radius: 5px;
    top: 40px;
    left: 70px;
}

.healthy-wrapper {
    margin-top: 125px;
    margin-bottom: 150px;
}

.line1 {
    width: 50px;
    height: 1px;
    background-color: #6F6A40;
    top: 250px;
    left: 740px;
}

.quick {
    bottom: 130px;
    left: 740px;
}

.learn {
    width: 150px;
    height: 40px;
    font-size: 12px;
    color: #fff;
    background-color: #EFC81A;
    border: none;
    border-radius: 5px;
    bottom: 115px;
    left: 740px;
}

.rectangle-section {
    width: 270px;
    height: 420px;
    background-color: #EFC81A;
    top: 20px;
}

.rectangle-new {
    width: 10px;
    height: 60px;
    background-color: #EFC81A;
    margin-top: 50px;
    margin-bottom: 40px;
}

.burger-wrapper {
    margin-top: 50px;
}

.rectangle-recipe {
    width: 10px;
    height: 60px;
    background-color: #EFC81A;
    margin-top: 50px;
}

.popularRecipe img {
    margin-top: 50px;
    width: 300px;
    height: 300px;
}

.end1 {
    width: 1519px;
    height: 495px;
    background-color: #EFC81A;
    margin-top: 100px;
}

.kare-text {
    bottom: 10px;
    right: 360px;
    font-size: 15px;
    color: #3F3A3A;
    font-weight: 700;
}

.bomb-text {
    bottom: 10px;
    left: 45px;
    font-size: 15px;
    color: #3F3A3A;
    font-weight: 700;
}

.smoothie-text {
    bottom: 10px;
    left: 45px;
    font-size: 15px;
    color: #3F3A3A;
    font-weight: 700;
}

.lava-text {
    bottom: 10px;
    right: 320px;
    font-size: 15px;
    color: #3F3A3A;
    font-weight: 700;
}